/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 21px;}  /* must be same height as the footer */

footer {position: relative;
	margin-top: -21px; /* negative value offooter height */
	height: 21px;
	clear:both;} 

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

/* #Page Styles
================================================== */
.full-width{
	width: 100%;
}
header{
	color: #181d1f;
	margin-top: 10px;

}
header h1{
	font-weight: bold;
	font-size: 38px;
	margin: 0;
}
header h2{
	font-size: 20px;
	line-height: 10px;
}
header a{
	text-decoration: none;
	color: #181d1f;
}
header a:hover{
	color: #181d1f;
}
footer{
	background-color: #181d1f;
	color: #ecf0f1;
}
footer .container{
	margin-bottom: 0;
}

footer span.right a{
	color: #ecf0f1;
}
.right{
	float: right;
}

.container{
	margin-bottom: 15px;
}

nav {
    margin: 25px 0 0 0;
    font-size: 21px;
}

nav ul{
	float: right;
}
nav ul li {
    display: inline;
}
nav ul li:nth-child(n+2) {
    display: inline;
    margin: 0 0 0 20px;
}
 
nav a {
    -webkit-transition:color 250ms; /* For Safari 3.1 to 6.0 */
    -moz-transition:color 250ms; /* For Safari 3.1 to 6.0 */
    -o-transition:color 250ms; /* For Safari 3.1 to 6.0 */
		transition:color 250ms;
}
 
nav a:hover {
    color: #e74c3c;

}
#work{
}
#work h4{
	margin-bottom: 15px;
}
#work img{
	width: 100%;
	 border-radius: 8px 8px 0 0; 
}
#work article a{
	/*font-weight: bold;*/
	padding: 2px;
	background: #181d1f;
	color: white;
	display: block;
	border-radius: 10px 10px 8px 8px;
	-webkit-transition:background 250ms; /* For Safari 3.1 to 6.0 */
  -moz-transition:background 250ms; /* For Safari 3.1 to 6.0 */
  -o-transition:background 250ms; /* For Safari 3.1 to 6.0 */
	transition:background 250ms;
	text-decoration: none;

}
#work article a:hover{
	background: #e74c3c;
}
#work article a div{
	padding: 0px 10px 5px 10px;
}
#work article a h6{
	font-weight: bold;
}
.item{
	margin-bottom: 20px;
}
.item.more {
	height: 220px;
}
#about{
	padding-top: 35px;
	border-top: 1px solid;
}
/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.item.more {
			height: 183px;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		header{
			text-align: center;
		}

		nav ul{
			float: none;
		}
		nav ul li{
			margin: 0 20px 0 0;
		}
		footer{
			text-align: center;
		}
		footer span{
			display: none;
		}
		#work div.item{
			margin-bottom: 5px;
		}
		.item.more {
			height: auto;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/