<div name="about" id="about" class="container">
  <img src="/images/me.jpg" alt="me" class="one-third column">
  <div class="two-thirds column about">
    <h4>Hi, how are you?</h4>
    <p>I am a New Media Developer with a lot of experience with front-end web development and some experience with physical computing projects. I am really interested in interactive projects of all kinds and I love to make things.</p>
    <p>I also really like code as art, graphic novels, and math rock.</p>
    <a href="mailto:eric.bichan@gmail.com">Email me!</a><br>
    <a href="#">Check out my resume!</a>

  </div>
</div>