<div id="work" class="container">
  {% if page.type == 'project' %}
  <h4 class="sixteen columns">More Projects</h4>
  {% endif %}
    {% for post in site.posts %}
      {% if page.type == 'project' %}
      <div class = "four columns item">
      {% else %}
      <div class = "eight columns item">
      {% endif %}
        <article>
          <a href="{{ post.url }}"><img src="{{ post.image-small }}" alt="{{ post.title }}"><div><h6>{{ post.title }}</h6>{{ post.caption }}</div></a>
        </article>
      </div>
    {% endfor %}
</div>