<!DOCTYPE html>
<!--[if !IE 7]>
  <style type="text/css">
    #wrap {display:table;height:100%}
  </style>
<![endif]-->
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<html>
    {% include head.html %}
    <body>

      <div id="wrap">

        {% include header.html %}

        <div id="main">
          {{ content }}
          {% include about.html %}
        </div>
      </div>
      
      
      {% include footer.html %}

      
      
      
    </body>
</html>
