---
layout: default
type: project
---
<div id="project" class="container">
  

  <div class="post">
    <h3 class="sixteen columns" id="title">{{ page.title }}</h3>
    <div class="nine columns left">
      <img id="post_img" src="{{ page.image-small }}" alt="{{ page.title }}">
      <div class="links">
        {% if page.link %}
        <a id="launch" target="_blank" href="{{ page.link }}">Launch Project</a>
        {% endif %}

        {% if page.github %}
        <a id="github" target="_blank" href="{{ page.github }}">Github Repo</a>
        {% endif %}
      </div>
    </div>
    
    <div class="seven columns">
      <div class="tech">
        <h4>Technologies Used</h4>
        <ul>
        {% for tech in page.tech %}
          <li>- {{ tech }}</li>
        {% endfor %}
        </ul>
      </div>
      {{ content }}
    </div>
  </div>
</div>
{% include work.html %}
